<!doctype html>
<title>Player Info</title>
<h1>Player List</h1>
<style>
	table td { width: 150px; }

	tbody tr:nth-child(odd) {
		background-color: #ccc;
	}
</style>

<table>
	<tr>
		<th>Player Name</th>
		<th>Position</th>
		<th>Height</th>
		<th>Weight</th>
		<th>Throws/Bats</th>
		<th>Team Played For</th>
	</tr>

{% for playerInfo in data %}
	<tr>
		<td>{{ playerInfo.data['nameFirst'] }} {{ playerInfo.data['nameLast'] }}</td>
		<td>{{ playerInfo.data['position'] }}</td>
		<td>{{ playerInfo.data['heightFeet'] }}' {{ playerInfo.data['heightInches'] }}"</td>
		<td>{{ playerInfo.data['weight'] }} lbs</td>
		<td>{{ playerInfo.data['throws'] }}/{{ playerInfo.data['bats'] }}</td>
		<td>{{ playerInfo.data['fullTeamName'] }}</td>
	</tr>
{% endfor %}
</table>